.background {
  min-height: 70vh;
  padding-top: 80px; /* 👉 Espacio arriba */
  padding-bottom: 80px; /* 👉 Espacio abajo */
  background-image: url("https://res.cloudinary.com/depaik2my/image/upload/v1748968418/ChatGPT_Image_3_jun_2025_18_31_55_osafbe.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: start; /* 👈 Alinea arriba, no al centro */
}
